@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg-light-main text-text-dark-main; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  @apply bg-bg-dark-main text-text-dark-main-light;
}